body {
    font-family: "Poppins", Courier, monospace;
    background-color: var(--cor2);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --cor1: #550300;
    --cor2: black;
    --cor3: white;
}


 /* MENU STYLE */
nav{
    background-color: var(--cor1);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav #menu-mobile{
    background-color: var(--cor1);
    color: var(--cor3);
    width: 100%;
    height: calc(100vh - 100px);
    position: absolute;
    transition: 0,5s;
    right: 100%;
    top: 100px;

}

nav #menu-mobile ul{
    color: var(--cor2);
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 10px;
    height: 100%;
    font-size: 1.5rem;

}

nav #menu-desktop{
    display: none;
}

nav #menu-desktop ul{
    color: var(--cor2);
    list-style: none;
    gap: 10px;
    display: flex;
    font-size: 1.5rem;
}

nav #av{
    font-size: 1.5rem;
    color: var(--cor2);
}


nav #icone img{
    width: 20px;
}

nav #cadastro,#inicio,#vizualizar{
    text-decoration: none;
    color: var(--cor2);
}


/* MAIN STYLE */

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: small;
    
}

table {
    border: 1px solid var(--cor3);
    border-collapse: collapse;
    text-align: center;
    width: 90%;
    margin: 2px;
    color: var(--cor3);
    background-color:var(--cor2);
}

table td,table td {
    padding: 4px; /* Adicione o espaçamento interno desejado aqui */
}

a {
    color: var(--cor3);
    text-decoration: none;
}



@media screen and (min-width: 768px){
    nav #menu-mobile{
        display: none;
    }
    
    nav #icone{
        display: none;
    }

    nav #menu-desktop{
        display: flex;
    }

}
